---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="sv">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <h1 class="head">Om oss</h1>
            <p>Är du förälder till ett barn eller ungdom som är eller vill bli aktiv i SGC? <br> Läs vår artikel för föräldrar!</p>
            <div class="about-us-element">
                <h3 class="head">Föreningen</h3>
                <img src="/omoss1.png" alt="SGC-medlemmar samlade kring en kexätartävling på ett konvent">
                <p>SGC är… en medlemsdriven förening, genom Sverok, som drivs online för och av ungdomar. Man kan bli medlem i SGCs förening, precis som vilken annan hobbyförening. Enda skillnaden är att SGCs verksamhet är helt och hållet online, via chatter, röstsamtal och spel. Den som är medlem i SGC hjälper hela communityt! Vi får bidrag från spelkulturförbundet Sverok som i sin tur får pengar från både statliga och andra aktörer för att stödja och sponsra spelkulturen i Sverige! </p>
                <p>Medlemmar får också tillgång till VIP-Event! Det är spelkvällar som sker varje fredag och söndag över discord. Man får tillgång till två minecraftservrar; Parkourservern och en Creative-server.</p>
            </div>
            <div class="about-us-element">
                <h3 class="head">Discordservern</h3>
                <img src="/omoss2.png" alt="Tre glada ungdomar i ett gamingrum med grön LED-belysning framför en datorskärm">
                <p>SGC är… en discordserver. Ett online-forum där både chatt, och röstsamtal gör att folk kan umgås digitalt.
                    För att gå med i vår discordserver behöver du vara vara över 13 år, samt ha ett konto på discord. Efter det kan du chatta med oss och träffa nya vänner att hänga med online. 
                    SGC modereras av ett noga utvalt personal-team av frivilliga vuxna och ungdomar. Vår vision är att skapa en säker och rolig plats för barn och ungdomar att vistas på online. 
                    <br><br>Vi har schemalagda spelkvällar varje vecka. Vi anordnar även ibland tävlingar, och event!
                </p>
            </div>
            <div class="about-us-element">
                <h3 class="head">Minecraft Servern Trusted</h3>
                <img src="/omoss3.png" alt="Minecraft-bild på ett modernt hus och en stor flagga i bakgrunden">
                <p>SGC är… vägen in i “Trusted”-umgänget. Där vi tillsammans spelar på minecraftservern “Trusted”.
                    När man vart medlem i SGCs discordserver tillräckligt länge och lyckats klättra till level 20, genom att skriva, så får man tillgång till Minecraftservern “Trusted”. 
                    På vägen dit kommer du antagligen hitta vänner online som du kommer kunna spela med när man väl kommer in.
                    På Trusted litar vi på varandra. Känslan är som på en liten vänserver fast med bonusen att det alltid finns aktiva spelare och nya personer man kan möta!
                </p>
            </div>
            <div class="about-us-element">
                <h3 class="head">Våra samarbeten</h3>
                <ul>
                    <li><b><a href="https://sverok.se/ ">Sverok</a></b> är Sveriges största spelkulturförbund för ungdomar. Som förening är vi kopplade till Sverok och får stöd och pengar från dem för att kunna göra roligare och bättre saker för våra medlemmar. Vår förening är aktiv inom förbundet och deltar i förbundets demokrati. <b>2024 blev SGC utsedda till Årets Förening av Sverok.</b></li>
                    <li><b><a href="https://killar.se/">Killar.se</a></b> är en hemsida för killar som drivs av organisationen MÄN. På Killar.se kan killar och unga män 10-25 år, få och ge stöd. Det finns forum, stödchatt och samtalsmottagning. SGC upptäckte Killar.se under ett samarbete via Sverok 2023 om normer i spelkulturen, och vi har rekommenderat dem sedan dess.</li>
                    <li><b><a href="https://www.raddabarnen.se/rad-och-kunskap/trygg-online-och-sociala-medier/digitala-trygghetsvardar/">Rädda Barnen</a></b> har ett projekt som kallas “Digitala Trygghetsvärdar” som SGC deltar i. Projektet går ut på att Rädda Barnen utbildar volontärer som sedan kommer till SGC och andra digitala mötesplatser för att ge en ökad trygg vuxennärvaro på internet.</li>
                    <li><b><a href="https://www.lysator.liu.se/foreningen/">Lysator</a></b> är en akademisk datorförening vid Linköpings universitet. Deras syfte är att ge medlemmarna möjligheten att utforska datorer och datavetenskap. De tillhandahåller också IT-resurser till oss och andra ideella föreningar, helt gratis.</li>
                    <li><b><a href="https://zyner.org/">Zyner</a></b> är en ideell förening, vars målgrupp är de som är teknik- och datorintresserade. De främjar IT-intresse, delar kunskap och skapar möjligheter för att träffa nya vänner och utvecklas tillsammans. De hjälper oss med att vi bland annat får tillgång till deras Mailtjänst.</li>
                </ul>
            </div>
		</main>
		<Footer />
	</body>
</html>
