---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="sv">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <h1 class="head">Kalendern</h1>
            <div class="calenders">
                <div class="calendar">
                    <h3>VIP-event på fredagar och söndagar!</h3>
                    <p><b>NÄR: </b>Söndagar 19:00</p>
                    <p><b>VAR:</b> Röstsamtal i  “Föreningshörnan” på SGC:s discord.</p>
                    <p><b>HUR:</b> Ledarledd spelkväll med spel som är lätta att förstå.</p>
                    <p>Ni som är föreningsmedlemmar kan vara med på events varje vecka. Dessa hålls i vår Discord på söndagar 19:00! Vi brukar spela lite olika spel såsom Skribbl.io, Make it Meme, Gartic Phone, Minecraft-minigames på våra egna servrar, och så vidare.</p>
                </div>
                <div class="calendar">
                    <h3>Lyft dina åsikter på Öppet möte</h3>
                    <p><b>NÄR:</b> En gång var tredje månad, onsdagar kl 19:00.</p>
                    <p><b>VAR:</b> Den öppna röstkanalen “Scenen” på SGC:s discord.</p>
                    <p><b>HUR:</b> Alla staff-lag och styrelse annonserar nyheter, och svarar på frågor.</p>
                    <p>Första onsdagen var tredje månad klockan 19:00 är det öppet möte. Där får alla vara med och diskutera eller ställa frågor som är relevanta för SGC och föreningen. Detta är den bästa mötesplatsen mellan medlemmar och styrelse där alla frågor och diskussioner kan lyftas.</p>
                </div>
            </div>
            <div class="calenders">
                <div class="calendar">
                    <h3>Öppet event en gång i månaden</h3>
                    <p><b>NÄR:</b> Sista onsdagen i månaden, kl 19:00.</p>
                    <p><b>VAR:</b> Den öppna röstkanalen “Eventsnack” på SGC:s discord.</p>
                    <p><b>HUR:</b> Ledarledd spelkväll med spel som är lätta att förstå.</p>
                    <p>Vi har öppet event sista onsdagen varje månad klockan 19:00 där alla kan vara med! Vi brukar spela liknande event som vi gör på VIP-event, alltså för det mesta gratis party-spel, men även ibland spel som Minecraft.</p>
                </div>
                <div class="calendar">
                    <h3>“Offline”-träffar i verkligheten</h3>
                    <p><b>NärCon i Linköping</b> är en nördkulturfestival där vi brukar ha ett rum. Vi brukar delta på både deras Vinter- och Sommar-konvent. Inträde till NärCon kostar. Du är alltid välkommen till vårt rum - speciellt på våra event såsom King of the Castle, Werewolf, Parlamentet mm! Du kan se alla våra event i NärCon-appens schema. </p>
                    <p><b>Glitched LAN</b>  är ett LAN och spelfestival i Jönköping som vi i år för första gången deltog på som förening. </p>
                    <p><b>Spelkvällar nära dig</b> är något vi vill börja med, men inte kommit igång med ännu. Planen är att ha små fysiska spelkvällar runt om i landet.</p>
                </div>
            </div>
		</main>
		<Footer />
	</body>
</html>