---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="sv">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <h1 class="head">GameJam 2025</h1>
			<a href="https://discord.sgc.se"><img src="/GameJam.png" alt="GameJam 2025s logotyp" class="logo"/></a>
			<h3 class="head">Information</h3>
            <p>Tävla i spelskapande! Skapa en interaktiv upplevelse, själv eller i lag, och vinn!
				<br><br>GameJam är en tävling där man ska, själv eller i lag, skapa en interaktiv upplevelse under en vecka.
				<br><br>Skapa ett datorspel, rollspel, en custom map eller någon annan form av interaktiv upplevelse som följer temat. <b>Vinnande laget får presentkort värda tillsammans 500kr</b>.
 				<br><br>Temat för tävlingen kommer annonseras på vår discord och våra sociala medier när tävlingen börjar. Lämna in ett bidrag i vår discordserver innan tävlingen slutar för att delta i tävlingen. <b>Tävlingen pågår under hela Höstlovet (v.44)</b>.
				<br><br>Onlineföreningen SGC har hållit i GameJam tävlingar i flera år nu. Vi är en förening för och av ungdomar som hänger på internet, främst i vår discordserver som är öppen för alla.
				<br><br>Vill du delta? <a href="https://discord.sgc.se">Gå med i vår discord</a>
			</p>
			<h3 class="head">Regler</h3>
			<p><b>📜 Grundregler</b>
				<ul>
					<li>Tävlingen börjar <b>Måndag den 27/10 kl 17:00.</b></li>
					<li>Temat för tävlingen avslöjas i <a href="https://discord.sgc.se">vår discordserver</a> genom en video!</li>
					<li>Innan temat avslöjats får man INTE börja skapa något.</li>
					<li>Innan tävlingen börjar får ni hitta folk ni vill samarbeta med. I verkligheten eller i discord! (Se kanalen #⁠hitta-lagkamrater på discord!)</li>
					<li>Innan tävlingen får ni börja öva och fundera på vilken plattform ni vill använda men INTE börja på något som ska in i bidraget!</li>
					<li>Tävlingen avslutas <b>Söndag 2/11 kl 23.59.</b></li>
					<li>Du kommer att skicka in ditt bidrag via ett formulär i <a href="https://discord.sgc.se">vår discordserver</a>!</li>
				</ul>
				<b>🎮 Vilka plattformar får man skapa spel i?</b>
				<ul>
					<li>Helt egenskapade spel</li>
					<li>Minecraft (Custom Maps)</li>
					<li>Roblox</li>
					<li>Andra "skapa ditt eget spel"-tjänster där det är gratis för spelaren att testa det.</li>
					<li>"Välj ditt eget slut"-berättelse skriven i word eller docs.</li>
					<li>Interaktiv berättelse i Slides/Powerpoint eller som en interktiv videoserie på YouTube.</li>
					<li>Andra kreativa verktyg där du kan skapa en interaktiv upplevelse där det är gratis för spelaren att testa det.</li>
				</ul>
				<b>🧩 Vad för material får jag använda?</b>
				<ul>
					<li>Delar av din egen eller andras kod. När du startar tävlingen måste du dock starta ett helt nytt projekt. Sen kan du börja lägga in delar av gammal kod.</li>
					<li>Musik, grafik, 3D-assets, diverse annat som du tidigare skapat eller som du köpt eller laddat ner.</li>
					<li>Allt material som du inte skapat själv måste du redovisa i formuläret när du skickar in ditt bidrag. Gör en lista.</li>
					<li>Om du använder dig av AI måste du redovisa exakt hur AI:n har använts och till vilka delar av arbetsprocessen den använts i.</li>
				</ul>
				<b>👨‍⚖️ Juryn tittar på dessa kriterier...</b>
				<ul>
					<li><b>Kreativitet:</b> Är spelidéen nytänkande eller en twist på en klassisk speltyp?</li>
					<li><b>Roligt:</b> Är spelet underhållande och får en att vilja spela mer?</li>
					<li><b>Presentation:</b> Ser spelet bra ut och är det lätt att förstå vad man ska göra utan att buggar kommer i vägen för upplevelsen?</li>
					<li><b>Användning av Tema:</b> Passar spelet till det tema som angivits? Gör de något kreativt med det?</li>
				</ul>
			</p>
			<h3 class="head">Delta i tävlingen!</h3>
			<p>För att kvalificera i tävlingen måste minst en person i ditt lag vara över 13 år gammal, och vara medlem i SGCs discordserver under åtminstonne tiden som tävlingen och juryperioden pågår.
				<br><br>För att delta i tävlingen behöver du/ni endast skicka in ett bidrag som följer reglerna och temat innan tävlingen avslutats den 2 november 2025 kl. 23:59!
			</p>
			<div class="join-us">
				<button class="btn">
					<img src="/Discord.svg" width="30px"></img>
					<a href="https://discord.sgc.se" target="_blank">Gå med i vår Discord för att tävla!</a>
				</button>
				<button class="btn">
					<img class="sverok-icon" src="/sverok.svg" width="30px" ></img>
					<a href="https://blimedlem.sgc.se" target="_blank">Gå med i vår förening för att stödja oss!</a>
				</button>
			</div>
		</main>
		<Footer />
	</body>
</html>
