---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="sv">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="hero">
				<h1 class="main-h1">Välkommen till <br> Onlineföreningen SGC!</h1>
			</div>
			<img src="/narcon.webp" alt="Gruppbild på glada SGC-medlemmar utomhus i grönskan" class="logo" />
			<p>
				Vi är en medlemssdriven, HBTQ-vänlig förening och digitalt forum för ungdomar.
				Vi hänger främst på vår Discord som är öppen för alla! Med stöd av Sverok.
			</p>
			<p>
			Detta är vår hemsida där ni kan hitta information om våra event (digitala och fysiska) på vår <a href="/calender">kalender</a>,
			om våra spelservrar under <a href="/servers">servrar</a>, och om vår förening i allmänhet på <a href="/about">om oss</a>.
			Om du är förälder till ett barn som hänger i SGC och vill veta mer om oss, besök gärna vår flik <a href="/parents"> för föräldrar</a>.
			Vill du få reda på vilken level någon medlem av discorden är? Besök <a href="/member"> discord-medlemssidan</a>.
			</p>
			<div class="join-us">
				<button class="btn">
					<img src="/Discord.svg" width="30px"></img>
					<a href="https://discord.sgc.se" target="_blank">Gå med i vår Discord</a>
				</button>
				<button class="btn">
					<img class="sverok-icon" src="/sverok.svg" width="30px" ></img>
					<a href="https://blimedlem.sgc.se" target="_blank">Gå med i vår förening helt gratis!</a>
				</button>
			</div>

			<h2 class="news">
				Senaste nytt!
			</h2>
			<p>
				Den 1-7 december sker Musikhjälpen 2025 i Karlstad. Onlineföreningen SGC samlar åter igen in pengar till Musikhjälpen! 
				2024 samlade vi in 11.000kr, och nu är det dags igen! Pytsa för att få oss att göra utmaningar för er underhållning, 
				eller för att låsa upp någon gåva på vår discord.
			</p>
		</main>
		<Footer />
	</body>
</html>
