---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="sv">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="head">Servers</h1>
			<div class="server">
				<img src="./public/Trusted.png" alt="Minecraft-bild på en stad med trähus i djungellandskap">
				<h3>TRUSTED</h3>
				<p><b>Ip: </b>trusted.sgc.se</p>
				<a href="/blog/trusted">Mer info</a>
			</div>
			<div class="server">
				<img src="./public/Creative.webp" alt="Minecraft-bild på 3D pixelart där en figur med svärd möter ett stort skelett">
				<h3>CREATIVE</h3>
				<p><b>Ip: </b>creative.sgc.se</p>
				<a href="/blog/creative">Mer info</a>
			</div>
			<div class="server">
				<img src="./public/Parkour.webp" alt="Minecraft-bild på lobbyarea med ett monument och ett slott i skogslandskap">
				<h3>PARKOUR</h3>
				<p><b>Ip: </b>parkour.sgc.se</p>
				<a href="/blog/parkour">Mer info</a>
			</div>
		</main>
		<Footer />
	</body>
</html>
