---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Onlineföreningen SGC. All rights reserved.
	<br><a href="https://discord.sgc.se">Discord</a> | <a href="https://blimedlem.sgc.se">Förening</a> | <a href="mailto:kontakt@sgc.se">Mail</a><br>
	<br><a href="https://www.lysator.liu.se/inhysningar/"><img src="/lysator.svg" alt="Datorföreningen Lysators logotyp" class="logo" width="64" /></a>
	<br>Hemsidan, våra minecraftservrar, och discordbot <br>driftas i samarbete med <a href="https://www.lysator.liu.se/inhysningar/">Lysator</a>.
	<div class="social-links">
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
