---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Hem</HeaderLink>
			<HeaderLink href="/calender">Kalendern</HeaderLink>
			<HeaderLink href="/servers">Servrar</HeaderLink>
			<HeaderLink href="/about">Om oss</HeaderLink>
			<HeaderLink href="/parents">För föräldrar</HeaderLink>
			<HeaderLink href="/member">Medlem</HeaderLink>
		</div>
		<div class="social-links">
			</a>
				<a href="https://discord.sgc.se" target="_blank">
				<span class="sr-only">Discord</span>
				<img src="/Discord.svg" alt="" width="32" height="32" />
			</a>
			<a href="https://www.x.com/sgckontot/" target="_blank">
				<span class="sr-only">SGC:s twitter</span>
				<img src="/twitter.svg" alt="" width="32" height="32" />
			</a>
			<a href="https://github.com/onlinesgc" target="_blank">
				<span class="sr-only">SGC:s repos</span>
				<img src="/github.svg" alt="" width="32" height="32" />
			</a>
			<a href="https://www.instagram.com/sgckontot/" target="_blank">
				<span class="sr-only">SGC:s instagram</span>
				<img src="/instagram.svg" alt="" width="32" height="32" />
			</a>
			<a href="https://www.youtube.com/@onlineforeningensgc" target="_blank">
				<span class="sr-only">SGC:s youtube</span>
				<img src="/youtube.svg" alt="" width="32" height="32" />
			</a>
			<a href="https://blimedlem.sgc.se" target="_blank">
				<span class="sr-only">SGC:s sverok</span>
				<img src="/sverok.svg" alt="" width="32" height="32" />
			</a>
				<a href="https://www.facebook.com/profile.php?id=61554997371254" target="_blank">
				<span class="sr-only">SGC:s facebook</span>
				<img src="/facebook.svg" alt="" width="32" height="32" />
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
